.App {
    height: 100vh;
}

.todoListsList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 100px;
    background-color: #2d2b2b;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header h2 {
    margin: 0 60px 0 0;
    color: white
}

.header h2:hover {
    color: #9c27b0;
    cursor: pointer;
}

.progressBar {
    height: 4px;
}

.todoLists {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 605px) {
    .todoLists {
        display: block;
        flex-wrap: nowrap;
    }
}

.todoTitle {
    text-align: center;
    margin: 10px 0;
}

.todosForm {
    margin: 50px 0;
}

.todoList {
    max-width: 305px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #616161;
    align-self: flex-start;
}

.filterButtons {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.task {
    margin-top: 10px;
}

.loader {
    margin: 0 15px 0 10px;
    position: relative;
    top: 5px;
}

.todoLoader {
    display: flex;
    justify-content: center;
}

.appCircularProgress {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.form {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputBlock {
    position: relative;
    margin-bottom: 15px;
}

.checkboxBlock {
    margin-bottom: 15px;
}

.loginError {
    position: absolute;
    bottom: 68px;
    left: 160px;
    z-index: 2;
    min-width: 250px;
    height: 30px;
    background-color: #e8e8e8;
    border: 3px solid #9c27b0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #888;
    animation: ani 1s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 740px) {
    .loginError {
        bottom: 68px;
        left: 0;
    }
}

.loginError:before {
    content: '';
    position: absolute;
    left: 30px;
    top: 26px;
    border: 10px solid;
    border-color: #9c27b0 transparent transparent #9c27b0;
}

.loginError:after {
    content: '';
    position: absolute;
    left: 32px;
    top: 25px;
    border: 8px solid;
    border-color: #e8e8e8 transparent transparent #e8e8e8;
}

.viewMode {
    position: absolute;
    right: 10px;
    top: 17px;
    cursor: pointer;
    color: #adadad;
}
